.list-propositions {
  list-style: none;
  margin: 0;
  padding: 26px 0 35px 18px;
}

.list-propositions__item {
  &--house::before {
    content: "";
    background-image: url("../img/icon-house.svg");
    width: 39px;
    height: 37px;
    position: absolute;
    left: 0;
  }

  &--gift::before {
    content: "";
    background-image: url("../img/icon-gift.svg");
    width: 32px;
    height: 38px;
    position: absolute;
    left: 0;
  }

  &--food::before {
    content: "";
    background-image: url("../img/icon-burger.svg");
    width: 39px;
    height: 37px;
    display: inline;
    position: absolute;
    left: 0;
  }
  padding-left: 52px;
  position: relative;
}
