.p-bold--hotel {
  font-size: 21px;
  text-align: center;
}

.p-normal--hotel {
  line-height: 24px;
  text-align: center;
}

.offer-hotel__link {
  background-color: $background-blue;
  color: white;
  padding: 15px 32px 18px 32px;
}
