$basic-white: #ffffff;
$text-black: #000000;
$text-grey: #333333;
$background-blue: #81b3d2;
$background-lightgrey: #eeeeee;
$shadow-navigation: rgba(255, 255, 255, 0.2);
$shadow-link: rgba(1, 1, 1, 0.2);
$black-rgba: rgba(0, 0, 0, 0);
$gradient-navigation: rgba(0, 0, 0, 0.2);
$line-grey: #d6d6d6;
$border-grey: #e6e6e6;
$social-hover: #669ec0;
$social-focus: #5496bd;
$button-blue-hover: #669ec0;
$button-blue-focus: #5496bd;
$button-focus-text: rgba(255, 255, 255, 0.3);
$button-disabled: #e5e5e5;
$input-background: #f2f2f2;
